

body{
  background: #eee;
}

.fade{
  transition: background-color 3s linear, border 3s linear;
   -moz-transition: background-color 3s linear, border 3s linear;
   -webkit-transition: background-color 3s linear, border 3s linear;
   
   
   }

.project, .service {
  margin: 1% 0;
  border-radius: 5px;
  border: 5px solid #ccc;
  background: #f1f1f1;
  
  
}

.project{
  font-size: 200%;
  padding: 15px 0 50px 0;
  }

.service {
  font-size: 100%;  
  padding: 10px 0 25px 0;
}

.icon-cloud-upload {
font-size: 52px;
color: #777;
}

.successful, .success, .up{
  background: #393;
  border: 5px solid #14892c;
  color: white;
}

.failed, .down {
  background: #d04437;
  border: 5px solid #a00;
  color: white;
}

.info {
  background: #fad403;
  border: 5px solid #dbbc10;
  color: blck;
}

.building {
  background: #3c78b5;
  border: 5px solid #2b68a6;
  color: white;
}

.updating {
  background: #2C3539;
  border: 5px solid #464C4C;
  color: white;
}
 
.buildingIcon,
{

  border: 8px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px #eee;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.buildingIcon
{
  border-left-color: transparent;
  background: #3c78b5;
  border: 5px solid #3c78b5;
}

.buildingIcon::after, #ajaxloader4::after
{
  display: block;
  content: " ";
  width: 9px;
  height: 9px;
  border: 6px solid #fff;
  margin: 4px;
  border-radius: 50%;
}

.buildingIcon::after
{
  border-left-color: transparent;
  border-right-color: transparent;
}


@-webkit-keyframes spin
{
  from { -webkit-transform: rotate(0deg); opacity: 0.4; }
  50%  { -webkit-transform: rotate(180deg); opacity: 1; }
  to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin
{
  from { -moz-transform: rotate(0deg); opacity: 0.4; }
  50%  { -moz-transform: rotate(180deg); opacity: 1; }
  to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin
{
  from { -ms-transform: rotate(0deg); opacity: 0.4; }
  50%  { -ms-transform: rotate(180deg); opacity: 1; }
  to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin
{
  from { -o-transform: rotate(0deg); opacity: 0.4; }
  50%  { -o-transform: rotate(180deg); opacity: 1; }
  to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin
{
  from { transform: rotate(0deg); opacity: 0.2; }
  50%  { transform: rotate(180deg); opacity: 1; }
  to   { transform: rotate(360deg); opacity: 0.2; }
}




.anchorWrapper {
position: relative;
}


.anchorWrapper>a {
display: block;
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;
z-index: 2;
}






  
  
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateY(-20px);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateY(-20px);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp 2s infinite; /* Safari 4+ */
  -moz-animation:    fadeInUp 2s infinite; /* Fx 5+ */
  -o-animation:      fadeInUp 2s infinite; /* Opera 12+ */
  animation:         fadeInUp 2s infinite; /* IE 10+ */
}



img.aws {
  margin-top: -15px;
  max-width: 75%;
  background-color: white;    
  border-radius: 100px;
  }


@media screen and (max-width: 768px){
  
   img.aws {
    margin-top: -15px;
    max-width: 20%;
    background-color: white;    
    border-radius: 100px;
    } 
    
  .project, .service {
  font-size: 100%;
  }
  
}
